
<div class='popout'>
  <section>
    <h1>RustFest 2017 - Schedule {% include icons/calendar.svg %}</h1>
  </section>
</div>

<div class='schedule'>
  <section>
    <h2 class="title">Sunday, 30th April</h2>
    <span style="margin-left: 3em; font-style: italic">aka "Talks, Talks, Talks"</span>
    <table cellspacing='0'>
      <tr>
        <td class="time">08<span>00</span></td>
        <td class="centered">Registration opens</td>
      </tr>
      <tr>
        <td class="time">08<span>45</span></td>
        <td>
          Welcome &amp; Housekeeping
          <div class='speaker'>
            <img src="/assets/speakers/steve.jpg" />
            Steve Klabnik
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">09<span>00</span></td>
        <td>
          <a href="/talks/#open-as-in-welcoming-facilitating-contributions">
            <strong>Keynote:</strong> "Open" as in "Welcoming": Facilitating Contributions
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/manish.png" />
            Manish Goregaokar
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">09<span>35</span></td>
        <td>
          <a href="/talks/#the-illustrated-adventure-survival-guide-for-new-rustaceans">
            The Illustrated Adventure Survival Guide for New Rustaceans
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/liz.jpg" />
            Liz Baillie
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">10<span>10</span></td>
        <td>
          <a href="/talks/#taking-rust-to-production-lessons-learned-from-the-habitat-project">
            Taking Rust to Production: Lessons Learned From the Habitat Project
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/fletcher.jpg" />
            Fletcher Nichol
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">10<span>40</span></td>
        <td class="centered">Break</td>
      </tr>
      <tr>
        <td class="time">10<span>55</span></td>
        <td>
          <a href="/talks/#building-ssh-servers-in-minutes">
            Building SSH servers in minutes
          </a>
          <div class="speaker">
            <img src="/assets/speakers/pe_meunier.jpg" />
            Pierre-Étienne Meunier
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">11<span>30</span></td>
        <td>
          <a href="/talks/#how-i-convinced-the-world-s-largest-package-manager-to-use-rust-and-so-can-you">
            How I Convinced the World’s Largest Package Manager to Use Rust, and So Can You!
          </a>
          <div class="speaker">
            <img src="/assets/speakers/ashley.jpg" />
            Ashley Williams
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">12<span>05</span></td>
        <td>
          <a href="/talks/#writing-idiomatic-libraries-in-rust">
            Writing Idiomatic Libraries in Rust
          </a>
          <div class="speaker">
            <img src="/assets/speakers/killercup.jpg" />
            Pascal Hertleif
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">12<span>35</span></td>
        <td class="centered">Lunch Break</td>
      </tr>
      <tr>
        <td class="time">13<span>40</span></td>
        <td>
          <a href="/talks/#making-a-game-in-rust">
            Making a game in Rust
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/lislis.jpg" />
            lislis
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">14<span>00</span></td>
        <td>
          <a href="/talks/#gstreamer-rust-a-perfect-match">
            GStreamer & Rust – A perfect match
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/slomo.jpg" />
            Sebastian Dröge
            <img src="/assets/speakers/luisbg.jpg" />
            Luis de Bethencourt
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">14<span>35</span></td>
        <td>
          <a href="/talks/#sōzu-a-hot-reconfigurable-reverse-http-proxy">
            Sōzu, a hot reconfigurable reverse HTTP proxy
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/geof.png" />
            Geoffroy Couprie
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">15<span>15</span></td>
        <td class="centered">Coffee Break</td>
      </tr>
      <tr>
        <td class="time">15<span>30</span></td>
        <td>
          <a href="/talks/#interaction-with-real-world-javascript-from-compiled-rust">
            Interaction with real-world JavaScript from compiled Rust
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/ingvar.jpg" />
            Ingvar Stepanyan
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">16<span>10</span></td>
        <td>
          <a href="/talks/#vagga-containerization-without-daemons">
            vagga - containerization without daemons
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/paul.jpg" />
            Paul Colomiets
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">17<span>00</span></td>
        <td>
          <a href="/talks/#spreading-the-rust">
            <strong>Keynote:</strong> Spreading The Rust
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/edunham.jpg" />
            Emily Dunham
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">17<span>45</span></td>
        <td class="centered">Closing</td>
      </tr>
    </table>

<!--
    <h2 class="title">Saturday, 29th April</h2>
    <span style="margin-left: 3em; font-style: italic">aka "Workshop day"</span>
    <table cellspacing='0'>
      <tr>
        <td class="time">11<span>00</span><br>-<br> 16<span>00</span></td>
        <td class="workshops">
          <span style="font-weight: bold">Workshops &amp; Hacking</span>
          <ul>
            <li>
              Web Workshop
            </li>

            <li>
              Rust Bridge
            </li>
          </ul>
        </td>
      </tr>
    </table>
-->
  </section>
</div>
